.btn, button, input[type="submit"] {
    padding: 5px 10px;
    background-color: $turquoise;
    color: $white;
    border: 1px solid $green;
    -ms-transition: background .25s ease, opacity 0.2s linear;
    transition: background .25s ease, opacity 0.2s linear;
    cursor: pointer;

    &:hover {
        outline: 0;
        background-color: $green;
    }
    &.disabled:hover {
        background-color: $turquoise;
    }
    &.active {
        background-color: $green;
    }
    &:active, &:focus {
        outline: 0;
    }

    .glyphicon {
        padding-right: 4px;
    }

    &.btn-action {
        background-color: $blueLight;
        border: 1px solid $blue;

        &:hover {
            background-color: $blue;
        }
        &.disabled:hover {
            background-color: $blueLight;
        }
    }
    &.btn-secondary {
        background-color: $redLight;
        border: 1px solid $red;

        &:hover {
            background-color: $red;
        }
        &.disabled:hover {
            background-color: $redLight;
        }
    }
    &.btn-light {
        background-color: $clouds;
        border: 1px solid $silver;
        color: $black;

        &:hover {
            background-color: $silver;
        }
        &.disabled:hover {
            background-color: $clouds;
        }
    }


    &.disabled {
        cursor: default;
        opacity: 0.4;
    }
}