.feedback {
	display: inline-block;
	margin-left: 20px;

	a {
		display: inline-block;
		font-size: 1.5em;
		color: $green;

		.text {
			padding-top: 3px;
			font-size: 0.75em;
			vertical-align: top;
			@include opacity(0);
		}
		&:hover .text {
			display: inherit;
			@include opacity(1);
			@include transition(opacity .3s ease);
		}
	}

	form {
		position: relative;
	}

	.popup {
		position: absolute;
		margin-top: 10px;
		padding: 20px;
		width: 280px;
		background-color: $white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
		z-index: 10;

		.arrow {
			position: absolute;
			top: -10px;
			left: -1px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $green;
		}
		textarea, button {
			width: 100%;
		}
		textarea {
			padding: 6px;
			font-size: 0.9em;
			border: none;
			resize: none;
		}
		strong {
			font-size: 1.5em;
		}
	}
	.heart {
		color: $red;
	}
	.message {
		margin-bottom: 5px;
		border: 1px solid $green;
	}
	.image-upload {
		width: 100%;
		padding: 4px 6px 1px 6px;
		margin: -7px 0 0;

		input {
			display: inline-block;
			width: 180px;
			font-size: 0.8em;
			vertical-align: super;
		}
	}
}