.error {
    margin: 5px 0;
    padding: 6px 0;
    font-size: 0.85em;
    border: 1px solid;
    text-align: center;

    &.warning {
        border-color: $orangeLight;
        color: $orange;
    }
}