.account {
    form {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        input, button {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}

.account-menu {
    float: right;
    position: relative;
    margin-top: 22px;

    .logout {
        margin-left: 10px;
        font-size: 0.75em;
        cursor: pointer;
    }
}