.story {
    padding-bottom: 50px;

    .session-loading {
        margin: 0 auto;
        width: 300px;
        text-align: center;

        .loading-bar {
            margin: 0 auto;
            width: 200px;
            height: 75px;
            background: url('../images/loading.gif') $turquoise no-repeat center center;

            &:before {
                content: "";
                display: block;
                position: relative;
                top: 2px;
                left: 2px;
                width: 196px;
                height: 71px;
                border: 1px solid $white;
            }
        }
    }

    .voting {
        ul {
            margin-bottom: 20px;
            padding: 0;
            list-style: none;
        }
        .point {
            display: inline-block;
            margin: 0 6px 6px 0;
            padding: 6px 0;
            width: 42px;
            text-align: center;
            vertical-align: top;

            @media (max-width: $break-medium) {
                width: 48.5px;
            }
            @media (max-width: $break-x-small) {
                padding: 9px 0;
                width: 64px;
            }
            &.glyphicon {
                top: 0;
                line-height: 1.43em;
            }
        }
        .hint {
            display: inline-block;
            font-size: 0.85em;
            color: $grey737;
        }
    }

    .participant {
        margin: 0 5px 10px;
        padding: 10px 0;
        min-height: 96px;
        border: 1px solid $greyCCC;
        text-align: center;
        -ms-transition: border .25s ease;
        transition: border .25s ease;

        &:hover {
            border: 1px solid $grey555;
        }
        &.active {
            border-color: $turquoise;
        }

        &.leader {
            .name {
                color: $redLight;
            }
        }

        .name {
            padding:0 4px 2px;
            font-size: 0.9em;
            word-wrap: break-word;
            border-bottom: 1px solid $greyCCC;
        }

        .rated {
            display: block;
            margin: 14px 0 6px;
            color: $green;
            font-size: 2em;
            -moz-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -ms-transition: 0.5s;
            transition: 0.5s;

            &.flipped {
                -moz-transform: rotateY(-360deg);
                -webkit-transform: rotateY(-360deg);
                -ms-transform: rotateY(-360deg);
            }
        }

        &.score {
            background: $green;

            .title, .rated {
                text-transform: uppercase;
                color: $white;
            }
            .rated {
                margin-top: 10px;
            }
        }
    }

    .options {
        margin-bottom: 10px;
        width: 97%;
    }

    .stats {
        margin-top: 40px;
        opacity: 1;
        transition: opacity .2s linear;

        &.hidden {
            position: absolute;
            left: -9999px;
            opacity: 0;
        }
    }

    .set_name {
        text-align: center;
    }

    .settings-container {
        margin-top: 35px;

        input, button {
            margin-top: 5px;
            width: 100%;
        }
        .help-block {
            font-size: 0.85em;
        }
    }
    .settings {
        .col {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .story {
        form input {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}