.start {
    margin: 0 auto;
    padding: 10px 0 25px;
    text-align: center;

    .col form {
        margin: 0 auto;
        max-width: 200px;
    }

    .or {
        position: relative;
        display: inline-block;
        margin: 10px 0 26px;
        font-size: 1.1em;

        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            top: 13px;
            left: -72px;
            width: 60px;
            height: 1px;
            background-color: $grey555;
        }
        &:after {
            left: auto;
            right: -72px;
        }
    }

    .name, .join_id, .passcode {
        padding: 0 12px;
        font-size: 1.1em;
    }

    .join_id {
        margin: 3px 0;
    }

    .passcode-required {
        margin-bottom: 15px;
        color: $orange;
    }

    input, button {
        width: 100%;
    }
    input[type="submit"], button {
        margin-top: 5px;
    }
    .join-btn .glyphicon {
        vertical-align: text-bottom;
    }

    .non-auth {
        border-right: 1px solid $greyCCC;
    }
    .auth {
        .or {
            margin-bottom: 8px;
        }
        .hint {
            margin-top: 12px;
            color: $grey737;
            font-size: 0.8em;
            text-align: left;
        }
    }

    .my-sessions {
        text-align: left;

        h2 {
            margin-top: 0;
        }
        ul {
            padding: 0;
            list-style: none;
        }
        a {
            cursor: pointer;
        }
        .loading {
            width: 142px;
            height: 42px;
        }
    }
}