@import 'lib/_bootstrap';
@import 'lib/_mixins';

body {
  padding: 0;
  font-size: 160%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-top: 20px;

  /* Make the masthead heading the same height as the navigation */
  h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-size: 2.5em;
  }
}

/* Custom page footer */
footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  color: #777;
  font-size: 0.75em;
}

/* Responsive: Portrait tablets and up */
@include bp-min-small {
  /* Remove the padding we set earlier */
  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }
}

.container-fluid {
  max-width: 1600px;
}

/* grid sizes */
$break-large:   1200px;
$break-medium:  991px;
$break-small:   769px;
$break-x-small: 768px;

/* colours */
$white:         #fff;
$black:         #000;
$grey333:       #333;
$grey555:       #555;
$greyCCC:       #ccc;
$grey737:       #737373;
$greyF5:        #f5f5f5;

$green:         #16a085;
$turquoise:     #1abc9c;
$blueLight:     #3498db;
$blue:          #2980b9;
$redLight:      #e74c3c;
$red:           #c0392b; 
$clouds:        #ecf0f1;
$silver:        #bdc3c7;  
$orangeLight:   #f39c12;
$orange:        #e67e22;

@import 'general/_buttons';
@import 'general/_messaging';
@import 'general/_forms';
@import 'general/_feedback';

@import 'start';
@import 'session';
@import 'account';
@import 'lib/offline';