<h1><a href="#/">poin.to</a></h1>

<div class="feedback" ng-controller="FeedbackCtrl">
    <a href class="fakelink" ng-click="open = !open">
        <span class="glyphicon glyphicon-bullhorn"></span>
        <span class="text">Feedback</span>
    </a>

    <div class="popup" ng-show="open">
        <div class="arrow"></div>
        <div class="content">
            <form ng-submit="sendFeedback()" ng-if="view === 1">
                <div class="message">
                    <textarea ng-model="feedback.message" rows="5" placeholder="Give some feedback or ask for help"></textarea>
                    <div class="image-upload">
                        <a href="" class="fakelink glyphicon glyphicon-camera" ng-click="selectImageMode = !selectImageMode"></a>
                        <input type="file" ng-show="selectImageMode" file-select="onFileSelect($files)" />
                    </div>
                </div>

                <p class="permission-error error" ng-show="errors().feedbackImage">Image size too big, max 5mb allowed</p>

                <button ng-class="{disabled: !feedback.message, loading: loading().feedback}" type="submit">Send feedback</button>
            </form>

            <div ng-if="view === 2">
                <strong>Feedback sent!</strong><br>
                <p>Thanks for your input <span class="glyphicon glyphicon-heart heart"></span></p>
            </div>
        </div>
    </div>
</div>

<div class="account">

    <div class="account-settings" ng-controller="AccountCtrl">
        <div class="permission-error error" ng-show="errors().permission">
            PERMISSION DENIED - please contact admin
        </div>

        <div ng-show="authUser().account">

            <a href="/account" class="glyphicon glyphicon-cog fakelink" ng-click="toggleAccount($event)"></a>

            <div class="account-settings-panel" ng-show="accountView">
                <form name="accountUpdateForm" class="form-horizontal" ng-submit="updateAccount()">

                    <div class="form-group">
                        <label for="accountSettingsName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="accountSettingsName" placeholder="Name" ng-model="accountForm.name" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-class="{loading: loading().updateAccount, disabled: loading().updateAccount, disabled: accountUpdateForm.$error.required}">Update</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

	<span class="email" ng-show="authUser().name">Hi, {{ authUser().name }}</span>
    
	<a class="logout" ng-click="authUser().logout()" ng-show="authUser().account">Logout</a> 
</div>