<h1><a href="#/">poin.to</a></h1>

<div class="feedback" ng-controller="FeedbackCtrl">
    <a href class="fakelink" ng-click="open = !open">
        <span class="glyphicon glyphicon-bullhorn"></span>
        <span class="text">Feedback</span>
    </a>

    <div class="popup" ng-show="open">
        <div class="arrow"></div>
        <div class="content">
            <form ng-submit="sendFeedback()" ng-if="view === 1">
                <div class="message">
                    <textarea ng-model="feedback.message" rows="5" placeholder="Give some feedback or ask for help"></textarea>
                    <div class="image-upload">
                        <a href="" class="fakelink glyphicon glyphicon-camera" ng-click="selectImageMode = !selectImageMode"></a>
                        <input type="file" ng-show="selectImageMode" file-select="onFileSelect($files)" />
                    </div>
                </div>

                <p class="permission-error error" ng-show="errors().feedbackImage">Image size too big, max 5mb allowed</p>

                <button ng-class="{disabled: !feedback.message, loading: loading().feedback}" type="submit">Send feedback</button>
            </form>

            <div ng-if="view === 2">
                <strong>Feedback sent!</strong><br>
                <p>Thanks for your input <span class="glyphicon glyphicon-heart heart"></span></p>
            </div>
        </div>
    </div>
</div>

<div class="account">

    <div class="account-settings" ng-controller="AccountCtrl">
        <div class="permission-error error" ng-show="errors().permission">
            PERMISSION DENIED - please contact admin
        </div>

        <div ng-show="authUser().account">

            <a href="/account" class="glyphicon glyphicon-cog fakelink" ng-click="toggleAccount($event)"></a>

            <div class="account-settings-panel" ng-show="accountView">
                <form name="accountUpdateForm" ng-submit="updateAccount()">

                    <div class="form-group">
                        <label for="accountSettingsName">Change name</label>
                        <input type="text" id="accountSettingsName" placeholder="Name" maxlength="20" ng-model="accountForm.name" />
                        <p class="error" ng-if="account.errors.name">{{account.errors.name}}</p>
                    </div>

                    <div class="form-group">
                        <label for="accountSettingsEmail">Change email</label>
                        <input type="email" id="accountSettingsEmail" placeholder="Current email" ng-model="accountForm.oldEmail" />
                        <input type="email" id="accountSettingsNewEmail" placeholder="New email" ng-model="accountForm.newEmail" />
                        <input type="password" placeholder="Confirm password" ng-model="accountForm.emailPassword" />
                        <p class="error" ng-if="account.errors.email">{{account.errors.email}}</p>
                    </div>

                    <div class="form-group">
                        <label for="accountSettingsPassword">Change password</label>
                        <input type="password" id="accountSettingsPassword" placeholder="Old password" ng-model="accountForm.passwordOld" />
                        <input type="password" placeholder="New password" ng-model="accountForm.passwordNew" />
                        <p class="error" ng-if="account.errors.password">{{account.errors.password}}</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-class="{loading: loading().updateAccount, disabled: loading().updateAccount, disabled: accountUpdateForm.$error.required}">Update</button>
                        <p class="error success" ng-if="account.updateSuccess">{{account.updateSuccess}}</p>
                        <p class="info">
                            <span class="glyphicon glyphicon-info-sign"></span> Leave the fields which you do not want to change blank.
                        </p>
                    </div>
                </form>
            </div>

        </div>

    </div>

	<span class="email" ng-show="authUser().name">Hi, {{ authUser().name }}</span>
    
	<a class="logout" ng-click="authUser().logout()" ng-show="authUser().account">Logout</a> 
</div>