<h1><a href="#/">poin.to</a></h1>

<div class="feedback">
    <a href class="fakelink">
        <span class="glyphicon glyphicon-bullhorn"></span>
        <span class="text">Feedback</span>
    </a>

    <div class="popup">
        <div class="arrow"></div>
        <div class="content">
            <form>
                <textarea rows="5" placeholder="Give some feedback or ask for help"></textarea>
                <button class="" type="submit">Send feedback</button>
            </form>
        </div>
    </div>
</div>

<div class="account">

    <div class="account-settings" ng-controller="AccountCtrl">
        <div class="permission-error error" ng-show="errors().permission">
            PERMISSION DENIED - please contact admin
        </div>

        <div ng-show="authUser().account">

            <a href="/account" class="glyphicon glyphicon-cog fakelink" ng-click="toggleAccount($event)"></a>

            <div class="account-settings-panel" ng-show="accountView">
                <form name="accountUpdateForm" class="form-horizontal" ng-submit="updateAccount()">

                    <div class="form-group">
                        <label for="accountSettingsName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="accountSettingsName" placeholder="Name" ng-model="accountForm.name" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-class="{loading: loading().updateAccount, disabled: loading().updateAccount, disabled: accountUpdateForm.$error.required}">Update</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

	<span class="email" ng-show="authUser().name">Hi, {{ authUser().name }}</span>
    
	<a class="logout" ng-click="authUser().logout()" ng-show="authUser().account">Logout</a> 
</div>