<div class="account" ng-controller="AccountCtrl">

    <form name="accountUpdateForm" ng-submit="updateAccount()">

        <div class="form-group">
            <label for="accountSettingsName">Change name</label>
            <input type="text" id="accountSettingsName" placeholder="Name" maxlength="20" ng-model="accountForm.name" />
            <p class="error" ng-if="account.errors.name">{{account.errors.name}}</p>
            <p class="error success" ng-if="account.updateSuccess.name">{{account.updateSuccess.name}}</p>
        </div>

        <div class="form-group">
            <label for="accountSettingsNewEmail">Change email</label>
            <input type="email" id="accountSettingsNewEmail" placeholder="New email" ng-model="accountForm.newEmail" />
            <input type="password" placeholder="Confirm password" ng-model="accountForm.emailPassword" />
            <p class="error" ng-if="account.errors.email">{{account.errors.email}}</p>
            <p class="error success" ng-if="account.updateSuccess.email">{{account.updateSuccess.email}}</p>
        </div>

        <div class="form-group">
            <label for="accountSettingsPassword">Change password</label>
            <input type="password" id="accountSettingsPassword" placeholder="Old password" ng-model="accountForm.passwordOld" />
            <input type="password" placeholder="New password" ng-model="accountForm.passwordNew" />
            <p class="error" ng-if="account.errors.password">{{account.errors.password}}</p>
            <p class="error success" ng-if="account.updateSuccess.password">{{account.updateSuccess.password}}</p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-class="{loading: loading().updateAccount, disabled: loading().updateAccount, disabled: accountUpdateForm.$error.required}">Update</button>
            <p class="info">
                <span class="glyphicon glyphicon-info-sign"></span> Leave the fields which you do not want to change blank.
            </p>
        </div>
    </form>
</div>