<header global-header></header>

<div class="password-reset" ng-controller="PasswordResetCtrl">

    <form name="passwordReset" ng-submit="resetPassword()">

        <p class="hint">
            <span class="glyphicon glyphicon-info-sign"></span> An email with a temporary password will be sent to you. Use this password within the next 24 hours to login and update your account.
        </p>

        <div class="form-group">
            <label for="resetPWDemail">Enter your email address</label>
            <input type="email" id="resetPWDemail" placeholder="Email address" ng-model="pwdReset.email" required />
            <p class="error" ng-if="account.errors.name">{{account.errors.name}}</p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-class="{loading: loading().updateAccount, disabled: loading().updateAccount}">Reset password</button>
            <p class="error" ng-class="{success: pwdReset.success}" ng-if="pwdReset.message">{{pwdReset.message}}</p>
        </div>
    </form>
</div>