<div class="row start">

    <form ng-submit="createSession()">

        <div class="form-group">
            <input type="text" class="name" placeholder="Your name" maxlength="20" ng-model="name" required />
            <input type="submit" value="Create Session" ng-class="{loading: loading().create}" />
        </div>

        <span class="or">or</span>

    </form>

    <form ng-submit="joinSession()">

        <div class="form-group">
            <input type="text" class="name" placeholder="Your name" ng-model="joinName" required />
            <input type="number" class="join_id" placeholder="123 456" min="10000" max="999999" ng-model="sessionID" required />
            <input type="submit" value="Join Session" ng-class="{loading: loading().join}" />
            <div class="error warning" ng-show="errors().noSession">This session does not exist.</div>
        </div>

    </form>

</div>
