<header global-header></header>

<div ng-cloak class="story">

    <div class="session-loading" ng-show="view === 0">
        <h2>{{ 'Loading session ' + sessionID }}</h2>
        <div class="loading-bar"></div>
    </div>

    <div ng-show="view === 1">

        <div class="row">
            
            <div class="col-md-3 col-sm-4 col-xs-12 voting">
                <h2>Vote</h2>
                <ul>
                    <li class="btn point" ng-repeat="point in storypoints | filter:'!X'" ng-click="vote(point)" ng-class="{active: session.users[user.key].points.value === point.value, 'glyphicon glyphicon-question-sign': point.value === -2, disabled: user.spectator}">
                        {{point.value !== -2 ? point.text : ''}}
                    </li>
                </ul>
                
                <div class="timer" ng-if="user.leader || timer.running">
                    <h3>Timer</h3>
                    <form ng-submit="toggleTimer()" ng-show="user.leader">
                        <input type="number" class="timer-input" ng-model="timer.value" min="5" ng-disabled="timer.running" />
                        <span class="timer-unit">sec</span>
                        <button type="submit" class="btn-action timer-start" ng-class="{disabled: timer.value <= 0, 'btn-secondary': timer.running}">
                            <span class="glyphicon" ng-class="{'glyphicon-hourglass': !timer.running, 'glyphicon-stop': timer.running}"></span>
                        </button>
                    </form>
                    <div class="countdown" ng-if="timer.running">
                        <canvas class="chart chart-doughnut" data="countdown.data" labels="countdown.labels" options="countdown.options" colours="countdown.colours"></canvas>
                        <div class="countdown-time">{{timer.counter + timer.unit}}</div>
                    </div>
                </div>
                
                <h3>Actions</h3>
                <button class="btn-action options" ng-class="{disabled: session.voteStatus == 1 || !user.leader}" ng-click="revealVotes()">Reveal all votes</button>
                <button class="btn-light options" ng-class="{disabled: session.voteStatus == 0 || !user.leader}" ng-click="clearVotes()">Clear all votes</button>
                <span class="hint"><span class="glyphicon glyphicon-info-sign"></span> You can only use these actions if you are the leader.</span>
            </div>

            <div class="col-md-6 col-sm-8 col-xs-12">
                <h2>Participants</h2>

                <div class="row participants">
                    <div class="col-md-3 col-sm-3 col-xs-4 participant" ng-repeat="p in filteredParticipants = (participants | filter: {spectator: false})" ng-class="{active: p.$id == user.key, leader: p.leader}">
                        <span class="name"><span class="glyphicon glyphicon-king leader-icon" ng-if="p.leader"></span>  {{p.name}}</span>
                        <span class="rated glyphicon" ng-class="{'glyphicon-time': p.points.value === -1 && session.voteStatus === 0, 'glyphicon-ok': p.points.value !== -1 && session.voteStatus === 0, 'glyphicon-remove': p.points.value === -1 && session.voteStatus === 1, 'glyphicon-question-sign': p.points.value === -2 && session.voteStatus === 1, 'flipped': isFlipped}">
                            {{ session.voteStatus === 1 ? (p.points.value > -1 ? p.points.text : '') : '' }}
                        </span>
                    </div>

                    <!-- <div class="col-md-2 col-sm-2 col-xs-3 participant score" ng-show="session.voteStatus == 1 && filteredParticipants.length > 1">
                        <span class="title">Score</span>
                        <span class="rated glyphicon" ng-class="{'glyphicon-remove': statistics().score == -1}">
                            {{ statistics().score >= 0 ? statistics().score : '' }}
                        </span>
                    </div> -->
                </div>

                <div class="row participants spectators" ng-if="filteredSpectators.length > 0">
                    <h3>Spectators</h3>

                    <div class="col-md-2 col-sm-2 col-xs-3 participant" ng-repeat="p in filteredSpectators = (participants | filter: {spectator: true})" ng-class="{active: p.$id == user.key, leader: p.leader}">
                        <span class="name"><span class="glyphicon glyphicon-king leader-icon" ng-if="p.leader"></span> {{p.name}}</span>                       
                    </div>
                </div>

                <div class="row stats" ng-class="{hidden: session.voteStatus == 0 || statistics().participants <= 1}">
                    <div class="col-md-10 col-sm-11 col-xs-12">
                        <canvas class="chart chart-bar" data="stats.data" labels="stats.labels" options="stats.options" colours="stats.colours"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 stories" ng-if="stories.list || session.owner === authUser().data.uid">
                <h2>Stories</h2>

                <div class="list-group">
                    <div class="list-group-item" ng-repeat="(id, story) in stories.list" ng-class="{active: session.activeStory == id, 'edit-mode': story.editMode, owner: session.owner === authUser().data.uid}">
                        <div class="item-content" ng-click="setActiveStory($event, id, story.editMode)" ng-hide="stories.editMode">
                            <span ng-hide="story.editMode">
                                <span class="badge" ng-if="story.points !== -999 && session.owner !== authUser().data.uid">{{story.points !== -2 ? story.points: '?'}}</span> {{story.name}}
                            </span>
                            
                            <select ng-model="story.points" ng-change="saveStoryEdit($event, id, story)" ng-show="session.owner === authUser().data.uid">
                                <option value="-999">-</option>
                                <option ng-repeat="point in storypoints | filter:'!X'" value="{{point.value}}" ng-selected="story.points === point.value">{{point.text}}</option>
                            </select>
                            <input type="text" class="edit-input" ng-model="story.name" ng-show="story.editMode" ng-keyup="editStoryKeyPress($event, id, story)" />
                        </div>
                        <div class="edit-option">
                            <a href class="glyphicon glyphicon-edit fakelink" ng-hide="story.editMode" ng-click="story.editMode = true"></a>
                            <a href class="glyphicon glyphicon-ok fakelink" ng-show="story.editMode" ng-click="saveStoryEdit($event, id, story)"></a>
                            <a href class="glyphicon glyphicon-trash fakelink" ng-click="deleteStory($event, id)"></a>
                        </div>
                    </div>
                </div>

                <form name="storyForm" ng-submit="addStory()" ng-if="session.owner === authUser().data.uid">
                    <input type="text" placeholder="Story" ng-model="stories.newStory" required />
                    <button type="submit" ng-class="{disabled: !storyForm.$valid}">Add story</button>
                </form>
            </div>

        </div>

        <div class="row settings-container">
            <div class="col-md-9 col-sm-8 col-xs-12 settings">
                <h3>Settings</h3>
                
                <div class="col col-md-4 col-sm-5 col-xs-12">
                    <form ng-submit="changeName()">
                        <div class="form-group">
                            <input type="text" class="name" placeholder="Your name" maxlength="20" ng-model="newName" required />
                            <input type="submit" value="Change name" ng-class="{disabled: newName === user.name}" />
                        </div>
                    </form>
                    <form ng-submit="changePasscode()" ng-if="session.owner === authUser().data.uid">
                        <div class="form-group">
                            <input type="password" pattern="[0-9]*" class="passcode" placeholder="Passcode" minlength="4" maxlength="4" ng-model="newPasscode" required />
                            <input type="submit" value="Change passcode" ng-class="{loading: loading().changePasscode, disabled: newPasscode.length === 0}" />
                            <div class="error success" ng-show="errors().changePasscode">Passcode has been changed!</div>
                        </div>
                    </form>
                </div>
                
                <div class="col col-md-4 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
                    <button ng-click="leadSession()" ng-class="{'btn-action': user.leader, 'btn-light': !user.leader}">
                        <span class="glyphicon glyphicon-king"></span> {{ user.leader ? 'Leading session' : 'Lead session' }}
                    </button>
                    <button ng-click="participateStatus()" class="btn-light">
                        <span class="glyphicon" ng-class="{'glyphicon-briefcase': user.spectator, 'glyphicon-sunglasses': !user.spectator}"></span> {{ user.spectator ? 'Participate' : 'Spectate' }}
                    </button>

                    <div ng-if="user.leader" class="reset-session">
                        <a href="" ng-click="resetSession($event)" ng-if="user.leader">Reset session</a>
                        <p><span class="glyphicon glyphicon-info-sign"></span> Use this to reset the session if any (weird) errors occur.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-4 col-xs-12">
                <form>
                    <h3>Share</h3>
                    <div class="form-group">
                        <input type="text" onclick="this.select()" ng-model="shareURL" readonly />
                        <span class="help-block"><span class="glyphicon glyphicon-share"></span> Share this URL with your lovely team-mates!</span>
                    </div>
                </form>
            </div>
        </div>

        <div class="offline-layer" ng-if="isOffline"></div>

    </div>





    <div class="row" ng-show="view === 2">

        <div class="set_name">
            <h1>Session {{sessionID}}</h1>

            <form ng-submit="joinSession()">

                <div class="form-group">

                    <input type="text" class="name" placeholder="Your name" maxlength="20" ng-model="name" ng-hide="authUser().account" ng-disabled="authUser().account" required />

                    <input type="password" pattern="[0-9]*" class="passcode" placeholder="Passcode" minlength="4" maxlength="4" ng-model="passcode" ng-show="passcodeNeeded" ng-disabled="!passcodeNeeded" required />

                    <button type="submit" ng-click="spectator = false"><span class="glyphicon glyphicon-transfer"></span> Join Session</button>
                    <button type="submit" class="btn-light" ng-click="spectator = true"><span class="glyphicon glyphicon-sunglasses"></span> Join as spectator</button>

                    <div class="error warning" ng-show="errors().noSessionJoin">This session does not exist.</div>
                    <div class="error warning" ng-show="errors().wrongPasscode">Sorry, you entered an invalid passcode. Please try again.</div>
                </div>

            </form>
        </div>

    </div>    

</div>