<div ng-cloak class="story">

    <div class="row" ng-show="view === 1">
        
        <div class="col-md-3 voting">
            <h2>Vote</h2>
            <ul>
                <li class="btn point" ng-repeat="point in storypoints" ng-click="vote(point)" ng-class="{active: user.points.value === point.value, 'glyphicon glyphicon-question-sign': point.value === -2}">
                    {{point.value !== -2 ? point.text : ''}}
                </li>
            </ul>
            
            <button class="btn-action options" ng-click="revealVotes()">Reveal all votes</button>
            <button class="btn-light options" ng-click="clearVotes()">Clear all votes</button>

        </div>

        <div class="col-md-9">
            <h2>Participants</h2>

            <div class="row participants">
                <div class="col-md-2 col-sm-2 col-xs-3 participant" ng-repeat="p in participants">
                    <span class="name">{{p.name}}</span>
                    <span class="rated glyphicon" ng-class="{'glyphicon-time': p.points.value === -1 && session.voteStatus === 0, 'glyphicon-ok': p.points.value !== -1 && session.voteStatus === 0, 'glyphicon-remove': p.points.value === -1 && session.voteStatus === 1, 'glyphicon-question-sign': p.points.value === -2 && session.voteStatus === 1}">
                        {{ session.voteStatus === 1 ? (p.points.value > -1 ? p.points.text : '') : '' }}
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-show="view === 2">

        <div class="set_name">
            <h1>Session {{sessionID}}</h1>

            <form ng-submit="joinSession()">

                <div class="form-group">
                    <input type="text" class="name" placeholder="Your name" ng-model="name" required />
                    <input type="submit" value="Join Session" />
                </div>

            </form>
        </div>

    </div>    

</div>